.navigation
{
	/* margin-top: 50px; */
	/* padding-left: 55px; */
	height: 40px;
	opacity: 1;
	transition: all .5s ease;
	user-select: none;
	/* background-color: blue; */
	display: flex;
	padding-right: 60px;
}



.nav-box {
	flex: 1;
}

.navigation li
{
	/* padding-left: 30px;  */
	font-size: 18px;
	display: inline;
	text-align: left;
	/*padding-right: 10px;*/
	color: grey;
}


.active a
{
	padding-bottom: 10px;
	color: white;
	text-decoration: none;
	border-bottom: solid 2px #00A2FF;
	transition: all .25s ease;
	cursor: default;
}

.inactive a
{
	padding-bottom: 0;
	color: grey;
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;

}